<p id="notice"><%= notice %></p>

<h1>Common Error Messages</h1>

<%= link_to 'Add New Error', new_comerr_path, id: "new_error_link" %>
<br><br>
<%= render 'form' %>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Description</th>
      <th>Resolution</th>
      <th>Screen Shot</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @comerrs.each do |comerr| %>
      <tr>
        <td id="message"><%= comerr.message %></td>
        <td><%= comerr.description %></td>
        <td><%= comerr.resolution %></td>
        <td><%= image_tag comerr.image.url(:thumb)%></td>
        <td><p><%= link_to 'Show', comerr %></p>
            <p><%= link_to 'Edit', edit_comerr_path(comerr) %></p>
            <p><%= link_to 'Delete', comerr, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>

  $("#new_comerr").hide();
  $("#new_error_link").click(function(event){
    event.preventDefault();
    $("#new_comerr").slideDown();
  });

</script>
