<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @comerr.message %>
</p>

<p>
  <strong>Description:</strong>
  <%= @comerr.description %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @comerr.resolution %>
</p>

<p>
  <strong>Screen Shot:</strong><br>
  <%= image_tag @comerr.image.url(:medium) %>
</p>



<%= link_to 'Edit', edit_comerr_path(@comerr) %> |
<%= link_to 'Home', root_path %>
